/*****************ABOUT US PAGE*************/
body{
    background-color: rgb(137, 161, 207);
}

h1{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 400%; 
}

p{
    font-size: 25px;
    text-align: left;
}

h3{
    font-size:25px;
}
.intro{
    font-size: 60px;
    padding: 10px 10px;
    margin: 15px 15px;
    text-align: center;
}

.head{
    text-align:center;
    padding: 10px 10px;
    margin:10px 10px;
}

.sub-head{
    text-align:center;
    padding: 25px 25px;
    margin:20px 20px;
}

/*******CARDS********/
.row{
    margin:5px 5px;
    padding:10px 10px ;
}

.cards{
    padding: 10px 10px;
}

.card-header{
    text-align: center;
    background-color: rgb(72, 216, 204);
}

.card-body{
    background-color: rgb(218, 184, 112);
}

/*******OUTRO-FOR FURTHER DETAILS*******/
.outro-div{
    margin: 20px 20px;
    padding: 15px 15px;
}

.outro-main{
    font-size:30px;
    text-align: center;
}