body{
  background-color: #2a2438
}

h2{
    color: #dbd8e3;
}

p{
    color: #dbd8e3;
}
.card-header{
  background-color: #423c50;
  color: #dafa26;
  text-align: center;
}

.card, .card-1{
  background-color: #dbd8e3;
  text-align: center;
  margin-left: 5%;
}

.card-1{
  margin-left: 5%;
}

.data-card{
  transform: scale(0.97);
  
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* cards-label */
.btn-outline-dark:hover {
  background-color: #423c50;
  color:#dafa26  ;
}

.btn-outline-dark{
  background-color: #dbd8e3;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #dafa26;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #e1f33c;
  color: white;
}
/* Bar-Graph-Editing */

.barcontainer {
  /* align-self: ; */
  position: relative;
  border: 3px solid black;
  border-radius: 5px 5px 0 0;
  margin-left: 20px;
  width: 80%;
  /* margin: 0; */
  min-height: 25vw;
  max-height: 50vw;
  min-width: 40%;
  max-width: 60%;
  z-index: 1;
}

.barcontainerheader {
  display: inline;
  position: absolute;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  background: #002064;
  border-bottom: 3px solid black;
  font-size: 1.5em;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 0 black;
  z-index: 0;
}

.bar1,.bar2,.bar5,.bar6,.bar7,.bar8,.bar9,.bar10,.bar11,.bar12 {
  position: absolute;
  display: inline-block;
  bottom: 0;
  border: 1px solid black;
  border-radius: 6px 6px 0 0;
  background: #22992c;
  width: 8.5%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 0 black;
  box-shadow: 4px 0 8px #888;
  margin-left: 4px;
}


.barlabel {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: rgba(181, 205, 228, 0.829);
}
.bar1 .barlabel{
  
}
.bar2 .barlabel{
  
}
.bar5 .barlabel{
  
}
.bar6 .barlabel{
  
}
.bar7 .barlabel{
  
}
.bar8 .barlabel{
  
}
.bar9 .barlabel{
  
}
.bar10 .barlabel{
  
}
.bar12 .barlabel{

}

.bar1 {
  margin-left:1%;
  background-color: rgb(31, 38, 133);
}

.bar2 {
  margin-left:11%;
  background-color: rgb(27, 29, 163);
}

.bar5 {
  margin-left:21%;
  background-color: rgb(40, 42, 184);
}

.bar6 {
  margin-left:31%;
  background-color: rgb(64, 84, 201);
}
.bar7 {
  margin-left:41%;
  background-color: rgb(71, 89, 192);
}
.bar8 {
  margin-left:51%;
  background-color: rgb(82, 106, 243);
}
.bar9 {
  margin-left:61%;
  background-color: rgb(123, 158, 255);
}
.bar10 {
  margin-left:71%;
  background-color: rgb(116, 147, 248);
}
.bar11{
  margin-left: 81%;
  background-color: rgb(121, 153, 241);
}
.bar12{
  margin-left: 91%;
  background-color: rgb(161, 185, 250);
}